APP_SECRET=123435445643463qwrwgsdg

SESSION_SECRET=320i4jfsjepsdgsjgsg
FLASH_SESSION_SECRET=803jfnselkiej-j4
THEME_SESSION_SECRET=mzdg0dg3-jf3jpmsdg3-jfig

RESEND_API_KEY=24aefsedgt23f4eafw

NODE_ENV=development
APP_ENV=development
WEB_URL=localhost:3000

DATABASE_URL=something-here

AWS_ACCESS_KEY_USER=3p24imwpaejipmsaggas
AWS_SECRET_KEY_USER=03j430wepdgsdig-3koprsdmg
