node_modules

/.cache
/build
/public/build
/api/_build
.eslintcache

tsconfig.tsbuildinfo
.vercel
.env
fly.wireguard.conf

/.vscode/**/*

tailwind.css

.cache/*
.cache
.data/*
.data
.turbo
.turbo/*
turbo-build.log
turbo-*.log
.expo
pc-api-8703296620103690660-58-a47abfbe9daa.json