@import "tailwindcss";
@import "tw-animate-css";
@import "@boilerplate/tailwind-config/base.css";

@source "../../../packages/ui/src/components/**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  --card: var(--card-light);
  --card-foreground: var(--card-foreground-light);
  --popover: var(--popover-light);
  --popover-foreground: var(--popover-foreground-light);
  --primary: var(--primary-light);
  --primary-foreground: var(--primary-foreground-light);
  --secondary: var(--secondary-light);
  --secondary-foreground: var(--secondary-foreground-light);
  --muted: var(--muted-light);
  --muted-foreground: var(--muted-foreground-light);
  --accent: var(--accent-light);
  --accent-foreground: var(--accent-foreground-light);
  --destructive: var(--destructive-light);
  --destructive-foreground: var(--destructive-foreground-light);
  --border: var(--border-light);
  --input: var(--input-light);
  --ring: var(--ring-light);
  --chart-1: var(--chart-1-light);
  --chart-2: var(--chart-2-light);
  --chart-3: var(--chart-3-light);
  --chart-4: var(--chart-4-light);
  --chart-5: var(--chart-5-light);
  --sidebar: var(--sidebar-light);
  --sidebar-foreground: var(--sidebar-foreground-light);
  --sidebar-primary: var(--sidebar-primary-light);
  --sidebar-primary-foreground: var(--sidebar-primary-foreground-light);
  --sidebar-accent: var(--sidebar-accent-light);
  --sidebar-accent-foreground: var(--sidebar-accent-foreground-light);
  --sidebar-border: var(--sidebar-border-light);
  --sidebar-ring: var(--sidebar-ring-light);
}

.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --card: var(--card-dark);
  --card-foreground: var(--card-foreground-dark);
  --popover: var(--popover-dark);
  --popover-foreground: var(--popover-foreground-dark);
  --primary: var(--primary-dark);
  --primary-foreground: var(--primary-foreground-dark);
  --secondary: var(--secondary-dark);
  --secondary-foreground: var(--secondary-foreground-dark);
  --muted: var(--muted-dark);
  --muted-foreground: var(--muted-foreground-dark);
  --accent: var(--accent-dark);
  --accent-foreground: var(--accent-foreground-dark);
  --destructive: var(--destructive-dark);
  --destructive-foreground: var(--destructive-foreground-dark);
  --border: var(--border-dark);
  --input: var(--input-dark);
  --ring: var(--ring-dark);
  --chart-1: var(--chart-1-dark);
  --chart-2: var(--chart-2-dark);
  --chart-3: var(--chart-3-dark);
  --chart-4: var(--chart-4-dark);
  --chart-5: var(--chart-5-dark);
  --sidebar: var(--sidebar-dark);
  --sidebar-foreground: var(--sidebar-foreground-dark);
  --sidebar-primary: var(--sidebar-primary-dark);
  --sidebar-primary-foreground: var(--sidebar-primary-foreground-dark);
  --sidebar-accent: var(--sidebar-accent-dark);
  --sidebar-accent-foreground: var(--sidebar-accent-foreground-dark);
  --sidebar-border: var(--sidebar-border-dark);
  --sidebar-ring: var(--sidebar-ring-dark);
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * {
    @apply no-scrollbar border-border outline-ring/50;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  body {
    @apply bg-background text-foreground;
  }
}
